
body,
html {
  height: 100%;
  margin: 0;
  width: device-width;
}
*{
  color:white;
}
#root {
  text-align: center;
  background-image: url("./imgs/background.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
  min-height: 100%;
  

}
.coinsContainer{
  width:90%;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
}
.coinCard{
  margin: auto;
  padding-top: 5px;
  margin-top: 5px;
  width: 13rem;
  height:17rem;
  border-radius:10%;
}
.cardImageDiv{
  margin:auto;
  height:65%; 
  width:90%;
  background-image: url("./imgs/coinIcon.png");
  background-size: 100% 100%;
  position: relative;
  text-shadow: 2px 2px black
}
.coinValue {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  font-style: italic;
  font-weight: bolder;
  color: gold;
  transform: translate(-50%, -50%);
}
.coinCount{
  min-width: 50px;
  width: fit-content;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
}
.customBtn {
  width: 50px;
  height: 60px;
}
.addCoinDialog{
  background-image: url("./imgs/background.jpg");
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  }
.addCoinDialog * {
  background:inherit;
  
}